body {
  font-family: 'Avenir', sans-serif;
}

td {
  width: 100px;
  height: 100px;
  border: 2px solid darkblue;
  background-color: rgb(253, 250, 232);
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  border-radius: 10%;
}

table {
  background-color: darkblue;
  margin: auto auto;
  padding: 50px;
  border-radius: 10%;
}

h1 {
  text-align: center;
  font-size: 60px;
}

form {
  text-align: center;
  margin: auto auto;
  font-size: 24px;
  padding-top: 4rem;
}

div#word-form {
  background-color: lightblue;
  width: 25rem;
  height: 10rem;
  margin: auto auto;
  position: relative;
  top: 3rem;
}